export const APP_ENV = process.env.NODE_ENV

export const
  ENV_DEV = 'development',
  ENV_TEST = 'test',
  ENV_PROD = 'production',
  STORAGE_TYPE_COOKIES = 'cookies',
  STORAGE_TYPE_LOCAL = 'localStorage'

export default {
  env: APP_ENV,
  locale: 'en',
  app: {
    name: process.env.REACT_APP_NAME,
    description: process.env.REACT_APP_DESCRIPTION,
    version: process.env.REACT_APP_VERSION,
  },
  apiUrl: process.env.REACT_APP_API_URL,
}
